# Path to WoW SavedVariables export (forward slashes work on Windows)
LOOTMASTER_HARVEST_PATH="C:/Program Files (x86)/World of Warcraft/_retail_/WTF/Account/YOUR_ACCOUNT/SavedVariables/LootmasterHarvester.lua"
